---
permalink: "/contact/"
title: "CV and Contact Information"
tags: sections
---
{% extends "templates/base.njk" %}

{% block content %}

<h1>CV and Contact Information</h1>

<h2><a href="/contents/grad_cv.pdf" target="_blank">My CV</a></h2>
{% endblock %}