{% extends "templates/base.njk" %}

{% block content %}
This is a personal site I developed using Eleventy. Currently very WIP.

It's main purpose is to give me somewhere to post about projects, as I figured that'd help get me motivated to work on them :P.
{% endblock %}